html{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

#main-container{
    background-color: grey;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#display{
    background-color: blue;
    flex-grow: 1;
    width: 100%;
    max-height: 150px;
    position: relative;
}

#text-container{
    position:absolute;
    bottom:0;
    right:0;
    font-size: 30px;
    text-align: right;
    padding: 10px;
}

#text-container p{
    margin: 0;
}

#main-text{
    font-size: 50px;
}

#keypad{
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
    box-sizing: border-box;
}

.normal-btn{
    flex: 1 0 20%;
    height: 15%;
    font-size: 18px;
    color: #f1e9d4;
    background-color: #221712;
    border: none;
    border-radius: 5px;
}

.wide-btn {
    flex-basis: 45.5%;
}

.light-brown {
    background-color: #7a6a5f;
}

.operators {
    font-size: 22px;

}